$iconfont: "iconfont";
$imgwidth: 100%;
$main-color: #333;
$main-color-active: #a28362;
$main-color-active1: #f32d45;
$main-color-active2: #666;
$main-color-active3: #fdd036;
@mixin bord{
	border-top: 1px solid #e6e6e6;
	box-sizing: border-box;
	padding: 0 0.2rem;
}
body{
	font-family: $iconfont;
	color: $main-color;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
img{
	width: $imgwidth;
}
.left{
	float: left;
}
.right{
	float: right;
}
.dis{
	display: block;
}
.clearfix:after{
	content: "";
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
}
.wrapper{
	max-width: 6.4rem;
	min-width: 3.2rem;
	margin: 0 auto;
	font-size: 0.2rem;
}
header{
	height: 0.9rem;
	line-height: 0.9rem;
	@include bord;
}
header{
	p{
		font-size: 0.36rem;
	}
}
header{
	p:nth-of-type(1){
		a{
			display: block;
			color: $main-color;
			width: 100%;
		}
	}
	p:nth-of-type(1){
		width: 10%;
	}
	p:nth-of-type(2){
		width: 90%;
		text-align: center;
	}
}
//导航栏
.my-menu{
	@include bord;
	height: 0.8rem;
	line-height: 0.8rem;
}
.my-menu{
	ul{
		display: flex;
		justify-content: space-between;
	}
	ul{
		li{
			padding: 0 0.15rem;
		}
	}
	ul{
		li{
			a{
				color: $main-color;
				font-size: 0.24rem;
			}
		}
		.border-bottom{
			a{
				border-bottom: 2px solid #f32d45;
				padding-bottom: 0.05rem;
			}
		}
	}
}
//公共模块
@mixin sublist2{
	a{
		p{
			width: 1.57rem;
			height: 1.57rem;
			padding-right: 0.15rem;
		}
		ul{
			li:nth-of-type(1){
				color: $main-color;
				font-size: 0.28rem;
				padding-bottom: 0.15rem;
			}
			li:nth-of-type(2){
				color: $main-color-active2;
				font-size: 0.2rem;
				width: 4.2rem;
				line-height: 0.3rem;
				padding-bottom: 0.15rem;
			}
			li:nth-of-type(3){
				span:nth-of-type(1){
					color: $main-color-active1;
					font-size: 0.3rem;
					font-weight: bolder;
				}
				span:nth-of-type(2){
					float: right;
					padding-right: 0.4rem;
					font-size: 0.24rem;
					color: $main-color-active2;
				}
			}
		}
	}
}
@mixin sublist3{
	a{
		display: block;
		height: 0.56rem;
		line-height: 0.56rem;
		padding: 0 0.3rem;
		font-size: 0.28rem;
		text-align: center;
		color: $main-color;
		border: 1px solid $main-color;
		border-radius: 0.1rem;
		margin: 0.4rem 0 0.3rem 0;
	}
}
//全部商品
.nav1{
	.list1{
		@include bord;
	}
	.list1{
		.sublist1{
			padding: 0.3rem 0 0.5rem;
		}
		.sublist1{
			p:nth-of-type(1){
				color: $main-color;
				font-size: 0.28rem;
				font-weight: bolder;
			}
			p:nth-of-type(2){
				color: $main-color-active1;
				font-size: 0.24rem;
				font-weight: bolder;
			}
		}
		.sublist2{
			@include sublist2;
		}
		.sublist3{
			@include sublist3;
		}
		.backgroundColor2{
			a{
				background: $main-color-active1;
				color: #fff;
				border: none;
			}
		}
		.backgroundColor3{
			a{
				background: $main-color-active3;
				color: #fff;
				border: none;
				margin-bottom: 1.3rem;
			}
		}
	}
}
//待付款
.nav2{
	.list1{
		@include bord;
	}
	.list1{
		.sublist1{
			padding: 0.3rem 0 0.5rem;
		}
		.sublist1{
			p:nth-of-type(1){
				color: $main-color;
				font-size: 0.28rem;
				font-weight: bolder;
			}
		}
		.sublist2{
			@include sublist2;
		}
		.sublist3{
			@include sublist3;
			margin: 0 0 1.3rem 0;
		}
		.backgroundColor3{
			a{
				background: $main-color-active1;
				color: #fff;
				border: none;
			}
		}
	}
}
//待发货
.nav3{
	p{
		text-align: center;
		font-size: 0.28rem;
		padding-top: 2rem;
	}
	p{
		span{
			font-size: 1.7rem;
		}
	}
}
//待收货
.nav4{
	@extend .nav2;
	.list1{
		.backgroundColor3{
			a{
				background: $main-color-active3;
			}
		}
	}
}
//待评价
.nav5{
	@extend .nav2;
}
.nav5{
	section:nth-of-type(1){
		.sublist3{
			margin: 0;
		}
	}
}
.nav2,.nav3,.nav4,.nav5{
	display: none;
}
.wrapper{
	footer {
	    position: fixed;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    background-color: #fff;
	    ul {
	        li {
	            width: 25%;
	            float: left;
	            text-align: center;
	            height: 1rem;
	            a {
	                display: block;
	                span {
	                    font-size: .5rem;
	                    display: block;
	                    margin-top: .14rem;
	                    color: $main-color;
	                }
	                i {
	                    font-size: .18rem;
	                    color: $main-color;
	                    font-style: normal;
	                }
	            }
	        }
	        .active {
	            a {
	                span {
	                    color: $main-color-active;
	                }
	            }
	        }
	    }
	}
}